body {
  padding-top: 2em;
  font-family: "Open Sans", sans-serif;
}

.Weather {
  border: 1px solid #7aa0a6;
  padding: 1em;
  border-radius: 0.5em;

  ul {
    color: #70757a;
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
    }
  }

  .unit {
    color: #70757a;
    position: relative;
    top: -28px;
    font-size: 16px;
    font-weight: 400;
  }

  .city {
    color: #202124;
    font-size: 22px;
    margin-top: -0.3em;
    text-align: right !important;
  }

  .temperature {
    line-height: 56px;
    font-size: 48px;
    position: relative;
    top: -4px;
  }

  .weather-data {
    margin-top: 1em;
  }

  .date-desc {
    font-size: 16px;
    text-align: right !important;
  }

  .date-desc-container {
    padding-right: 2em;
  }
}

.bg-clear {
  background: linear-gradient(to bottom, #87ceeb, #ffffff);
}

.bg-rainy {
  background: linear-gradient(to bottom, #4b79a1, #283e51);
}

.bg-cloudy {
  background: linear-gradient(to bottom, #b0c4de, #f0f8ff);
}

.bg-snowy {
  background: linear-gradient(to bottom, #e0f7fa, #b2ebf2);
}

.bg-thunderstorm {
  background: linear-gradient(to bottom, #2c3e50, #34495e);
}

.bg-drizzle {
  background: linear-gradient(to bottom, #6dd5fa, #2980b9);
}

.bg-misty {
  background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
}

.bg-default {
  background: linear-gradient(to bottom, #f5f5f5, #d3d3d3);
}
